[Unit]
Description=MySQL Exporter
After=network.target

[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart=/usr/local/bin/mysqld_exporter --config.my-cnf /etc/.mysqld_exporter.cnf \
  --web.listen-address=127.0.0.1:9104
Restart=always

[Install]
WantedBy=multi-user.target
